<b style="color:red;">Print() Metodu ile Metin Formatlama</b>

In [1]:
print("halil", "cevdet", "musa", sep="")

halilcevdetmusa

In [8]:
print("halil", "cevdet", "musa", sep=" 4")

halil 4cevdet 4musa

In [12]:
print("{} adet alım tutarı {}$ olarak hesaplandı".format(5, 15))

5 adet alım tutarı 15$ olarak hesaplandı

In [14]:
print("{1} kişi {0} adet ürün satın alarak {2}$ tutarında ödeme yaptı.".format(5, 2, 30))

2 kişi 5 adet ürün satın alarak 30$ tutarında ödeme yaptı.

In [16]:
print("{:.2f} sayısı {:.2f} sayısı ile çarpılınca {:.3f} sayısına ulaşıldı".format(3.1463, 5.324, 3.1463*5.324))

3.15 sayısı 5.32 sayısı ile çarpılınca 16.751 sayısına ulaşıldı

   ulke
0    tr
1    tr
2    tr
3    tr
4    tr
5    tr
6    tr
7    tr
8    tr
9    us
10   us
11   us
12   us
13   us
14   us
15   fr
16   fr
17   fr
18   fr
19   fr
20   fr
21   fr
<class 'pandas.core.frame.DataFrame'>